*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}


.drop-zone {
    border: 2px dashed #0d6efd;
    border-radius: 15px;
    padding: 50px;
    text-align: center;
    background-color: #f8f9fa;
    transition: background-color 0.3s ease;
    cursor: pointer;
    position: relative;
}
.drop-zone:hover {
    background-color: #e9ecef;
}
/* Ocultamos el input real pero lo hacemos cubrir toda la zona */
.drop-zone input[type="file"] {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
}
.drop-icon {
    font-size: 3rem;
    color: #0d6efd;
}