body {
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
}


input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none; 
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield; 
}

thead th.sortable-th {
    cursor: pointer !important;
    position: relative;
    user-select: none;
    
    background-color: #212529; 
    color: #ffffff;
    
    border-bottom: 3px solid transparent; 

    transition: background-color 0.2s ease-out, border-bottom-color 0.2s ease-out, color 0.2s ease-out;
    
    backface-visibility: hidden; 
}

thead th.sortable-th:hover {
    background-color: #2c3034 !important; 
    
    border-bottom-color: rgba(255, 255, 255, 0.5) !important;
}


thead th.sortable-th.active-sort {
    background-color: #2c3034 !important;
    color: #ffc107 !important; 
    
    border-bottom-color: #ffc107 !important;
    
    box-shadow: none !important; 
}




