body { 
    background-color: #F8FAFC; 
    margin: 0; 
    font-family: system-ui, -apple-system, sans-serif; 
}
svg { 
    max-width: 24px; 
    max-height: 24px; 
    flex-shrink: 0; 
}

.form-control:focus {
    border-color: #6c757d !important; 
    
    box-shadow: 0 0 0 0.25rem rgba(108, 117, 125, 0.25) !important;
}


.page-link:focus {
    box-shadow: 0 0 0 0.25rem rgba(108, 117, 125, 0.25) !important;
    
    border-color: #6c757d !important;
    color: inherit !important; 
}

[x-cloak] { display: none !important; }
.no-scrollbar::-webkit-scrollbar { display: none; }
.no-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }