[x-cloak] { display: none !important; }

body { 
    background-color: #F8FAFC; 
    margin: 0; 
    font-family: system-ui, -apple-system, sans-serif; 
}
.btn-fluido {
    transition: all 0.2s ease-in-out;
}
.btn-fluido:hover {
    transform: translateY(-2px);
    filter: brightness(0.95);
}
.btn.btn-outline-amarillo {
    color: #c98d00;               /* Letras mostaza fuerte */
    border: 1px solid #c98d00;    /* Borde del mismo tono */
    background-color: transparent; 
    font-weight: 500;             
    transition: all 0.2s ease;
}

.btn.btn-outline-amarillo:hover {
    background-color: #c98d00;    /* Fondo mostaza sólido y opaco */
    color: #ffffff;               /* Letras blancas para máximo contraste */
    border-color: #c98d00;        
}

.modal-content { border-radius: 4px; } 
.modal-body { background: #fff; } 

.form-control:focus,
.form-select:focus {
    border-color: #6c757d !important; 
    box-shadow: 0 0 0 0.25rem rgba(108, 117, 125, 0.25) !important;
}

.page-link:focus {
    box-shadow: 0 0 0 0.25rem rgba(108, 117, 125, 0.25) !important;
    border-color: #6c757d !important;
    color: inherit !important; 
}

.no-scrollbar::-webkit-scrollbar { display: none; }
.no-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }