<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Iniciar sesión</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles_login.css' %}">
</head>
<body>
    <header>
        <h2>Iniciar sesión</h2>
    </header>
    <div>
        {% if form.errors %}
            <p style="color: red;">Usuario o contraseña incorrectos.</p>
        {% endif %}
        <form action="/accounts/login/" method="post">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}">
            <div>
                <label for="id_username">Usuario:</label>
                {{ form.username }}
            </div>
            <div>
                <label for="id_password">Contraseña:</label>
                {{ form.password }}
            </div>
            <button type="submit">Entrar</button>
        </form>
    </div>
    
    
</body>
</html>