<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    
    <title>HOME</title>
    
</head>
<body> 
    {% if user.is_authenticated %}
        <div class="go_panel">
            <a id="admin-panel-link" href="/emitidos-panel/">Ir al Panel Administrativo</a>
        </div>
    {% else %}
        <div class="go_panel">
            <a id="admin-panel-link" href="/accounts/login/?next=/emitidos-panel/">Iniciar sesión para acceder al Panel</a>
        </div>
    {% endif %}
  
</body>
</html>
