<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    
    <title>HOME</title>
    
</head>
<body> 
    {% if user.is_authenticated %}
        <div class="go_panel">
            <a id="admin-panel-link" href="/gastos-panel/">Ir al Panel Administrativo</a>
            <a id="admin-panel-link" href="/historial-precios/">Panel Historial de Precios</a>
            <a id="admin-panel-link" href="/xml_import/">Importar XML-ZIP</a>
            <a id="admin-panel-link" href="/asociacion-panel/">Panel de Asociación</a>
        </div>
    {% else %}
        <div class="go_panel">
            <a id="admin-panel-link" href="/accounts/login/?next=/">Inicia sesión</a>
        </div>
    {% endif %}
  
</body>
</html>
